<div class="md-padding">
  <h2>New Resource</h2>  
  <form name="resourceForm">
    <md-input-container>
      <label>Title</label>
      <input name="title" type="text" ng-model="resourceDetail.resource.title">
    </md-input-container>
    <div text-angular name="body" ng-model="resourceDetail.resource.body"></div>
    
    <md-button class="md-raised md-accent" ng-show="!resourceDetail.resource.id" ng-click="resourceDetail.onClickAdd()">Create Resource</md-button>
    <md-button class="md-raised md-accent" ng-show="resourceDetail.resource.id" ng-click="resourceDetail.updateResource()">Save</md-button>
  </form>
</div>