<div layout="row">
  <div flex="80" offset="10" layout="column">
    <h1 flex>My Resources</h1>
    <md-content>
      <md-list class="md-whiteframe-z1">
        <md-list-item class="md-3-line" ng-repeat="resource in resourceList.resources" ng-click="resourceList.goToResource(resource)">
          <p ng-bind="resource.title"></p>
        </md-list-item>
      </md-list> 
    </md-content>
  </div>
</div>
<md-button  class="md-fab md-accent" style="position: absolute; bottom: 16px; right: 16px;">
  <a ui-sref="resources.create">
    <md-icon>add</md-icon>
  </a>
</md-button>